@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

:root {
  --h1-font-family: "Tangerine", cursive;
  --default-font-family: Georgia, "Times New Roman", Times, serif;
  --primary-color: #212529;
  --secondary-color: #6d9886;
  --accent-color: #f2e7d5;
  --text-color: #f7f7f7;
}

body {
  font-family: var(--default-font-family);
  background: var(--primary-color);
  color: var(--text-color);
}

nav {
  margin: 10px 0 20px 0;
  text-align: right;
}

btn {
  color: var(--accent-color);
}

footer ul {
  padding: 0;
}

nav ul {
  display: inline-flex;
  padding: 5px;
}

footer li {
  list-style: none;
  padding-left: 20px;
}

nav li {
  list-style: none;
  margin-right: 30px;
}

nav li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 5px;
  transition: all 150ms ease-in-out;
}

nav li a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

section {
  margin: 20px 0;
  padding: 10px 0;
}

i {
  font-size: 30px;
  color: var(--text-color);
  margin: 10px 10px 10px 0;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: left;
}

footer h4 {
  padding: 15px;
}

footer h5 {
  color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
}

#bio,
#projects {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

#projects img {
  border-radius: 8px;
  margin: 20px 0;
  transition: all 150ms ease-in-out;
}

#projects img:hover {
  transform: scale(1.1);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 15px;
}

.name {
  font-family: var(--h1-font-family);
  font-size: 85px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0;
}

.title {
  font-style: italic;
  margin: 0;
}

.pic {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.pic img {
  margin: 20px 0 40px 0;
  box-shadow: 6px 20px 0px var(--secondary-color);
  border-top-left-radius: 190px;
  border-bottom-right-radius: 190px;
}

.section-title {
  color: var(--secondary-color);
}
